image: docker:latest
services:
  - docker:dind

stages:
  - build
  - deploy
  - deploy-mysql

mysql:deploy:
  stage: deploy-mysql
  image: mysql:5.7
  script:
    - mysql --version
    - echo "CREATE DATABASE IF NOT EXISTS devportal_${SUBDOMAIN_PROJECT}_db;" | mysql -h mysqlpre.cjfsrxm5ousg.eu-west-1.rds.amazonaws.com -u cloudappi -p"[~.QUWa2tx26sRZA"
