image: docker:latest
services:
  - docker:dind

stages:
  - build
  - build-docker
  - deploy
  - deploy-mysql


variables:
  REMOTE_PATH_SQL: "/home/ubuntu/sql"
  DOCKER_IMAGE_PATH: "$CI_REGISTRY_IMAGE"

mysql:deploy:
  stage: deploy-mysql
  variables:
    MYSQL_HOST: $DATABASE_HOST 
    MYSQL_USER: $DATABASE_USERNAME
    MYSQL_PASS: $DATABASE_PASSWORD
  script:
    - apk add openssh-client
    - eval $(ssh-agent -s)
    - echo "$PRIVATE_RSA_KEY_PROD" | tr -d '\r' | ssh-add -
    - mkdir -p ~/.ssh
    - chmod 700 ~/.ssh
    - scp -o StrictHostKeyChecking=no sql/strapi-bk.sql ubuntu@${URL_SERVER}:${REMOTE_PATH_SQL}/
    - ssh -o StrictHostKeyChecking=no ubuntu@${URL_SERVER} "echo 'CREATE DATABASE IF NOT EXISTS devportal_${SUBDOMAIN_PROJECT}_db;' | mysql -h $MYSQL_HOST -u $MYSQL_USER --password=$MYSQL_PASS;"
    #- ssh -o StrictHostKeyChecking=no ubuntu@${URL_SERVER} "mysql -h $MYSQL_HOST -u $MYSQL_USER --password=$MYSQL_PASS devportal_${SUBDOMAIN_PROJECT}_db < sql/strapi-bk.sql"
    #- ssh -o StrictHostKeyChecking=no ubuntu@${URL_SERVER} "if [ "`mysql -h ${MYSQL_HOST} -u ${MYSQL_USER} --password=${MYSQL_PASS} -se'USE devportal_${SUBDOMAIN_PROJECT}_db;' 2>&1`" == "" ]; then mysql -h ${MYSQL_HOST} -u ${MYSQL_USER} --password=${MYSQL_PASS}; fi;"
    #- ssh -o StrictHostKeyChecking=no ubuntu@${URL_SERVER} "if [ '`mysql -h ${MYSQL_HOST} -u ${MYSQL_USER} --password=${MYSQL_PASS} -se'USE devportal_${SUBDOMAIN_PROJECT}_db;' 2>&1`' == '' ]; then mysql -h ${MYSQL_HOST} -u ${MYSQL_USER} --password=${MYSQL_PASS} -se'CREATE DATABASE IF NOT EXISTS devportal_${SUBDOMAIN_PROJECT}_db;'; mysql -h ${MYSQL_HOST} -u ${MYSQL_USER} --password=${MYSQL_PASS} devportal_${SUBDOMAIN_PROJECT}_db < sql/strapi-bk.sql; fi;"



.template:build: &docker-build
  before_script:
    - docker login -u gitlab-ci-token -p $CI_BUILD_TOKEN registry.gitlab.com
  script:
    - echo version:$CI_TAG
    - docker build
      --build-arg BUILDKIT_INLINE_CACHE=1
      --cache-from "${DOCKER_IMAGE_PATH}:$TAG"
      -t "${DOCKER_IMAGE_PATH}:$CI_TAG" -t "${DOCKER_IMAGE_PATH}:$TAG" .
    - docker push $DOCKER_IMAGE_PATH:$TAG
    - docker push $DOCKER_IMAGE_PATH:$CI_TAG

.template:deploy: &ssh-deploy
  script:
    - apk add gettext
    - mkdir -p ~/.ssh
    - echo -e "Host *\n\tStrictHostKeyChecking no\n\n" > ~/.ssh/config
    - echo "$PRIVATE_RSA_KEY_PROD" | tr -d '\r' > ssh-auth
    - chmod 600 ssh-auth
    - sed -i "s/DATABASE_GENERATED/devportal_${SUBDOMAIN_PROJECT}_db/g" docker-compose-template.yml
    - envsubst < docker-compose-template.yaml > docker-compose.yaml
    - ssh -i ssh-auth $SSH_LOGIN "cd $REMOTE_PATH; mkdir -p ${SUBDOMAIN_PROJECT}"
    - scp -i ssh-auth docker-compose.yaml $SSH_LOGIN:$REMOTE_PATH/${SUBDOMAIN_PROJECT}/
    - ssh -i ssh-auth $SSH_LOGIN "cd $REMOTE_PATH/${SUBDOMAIN_PROJECT} && docker login -u gitlab-ci-token -p $CI_BUILD_TOKEN registry.gitlab.com && docker-compose down && docker-compose up -d "

docker:build:
  stage: build
  variables:
    TAG: $CI_COMMIT_REF_NAME
    CI_TAG: $CI_COMMIT_SHA

  rules:
    - if: $CI_COMMIT_REF_NAME == "test"
  <<: *docker-build
  environment:
    name: $CI_COMMIT_REF_NAME

docker:deploy:
  stage: deploy
  variables:
    SSH_LOGIN: ubuntu@52.49.95.19
    SSH_KEY: $PRIVATE_RSA_KEY_PROD
    REMOTE_PATH: /var/www/aplicacion/devportal-generated
  rules:
    - if: $CI_COMMIT_REF_NAME == "test"
  <<: *ssh-deploy
  environment:
    name: $CI_COMMIT_REF_NAME

