image: docker:latest
services:
  - docker:dind

stages:
  - deploy-mysql
  - build
  - deploy
  - deploy-nginx


variables:
  REMOTE_PATH_SQL: "/home/ubuntu/sql"
  DOCKER_IMAGE_PATH: "$CI_REGISTRY_IMAGE"
  REMOTE_PATH_NGINX: "/home/ubuntu/nginxSites"

mysql:deploy:
  stage: deploy-mysql
  rules:
    - if: $CI_COMMIT_REF_NAME == "test2"
  variables:
    MYSQL_HOST: $DATABASE_HOST 
    MYSQL_USER: $DATABASE_USERNAME
    MYSQL_PASS: $DATABASE_PASSWORD
  script:
    - apk add openssh-client
    - eval $(ssh-agent -s)
    - echo "$PRIVATE_RSA_KEY_PROD" | tr -d '\r' | ssh-add -
    - mkdir -p ~/.ssh
    - chmod 700 ~/.ssh
    - scp -o StrictHostKeyChecking=no sql/strapi-bk.sql ubuntu@${URL_SERVER}:${REMOTE_PATH_SQL}/
    - ssh -o StrictHostKeyChecking=no ubuntu@${URL_SERVER} "echo 'CREATE DATABASE IF NOT EXISTS devportal_${SUBDOMAIN_PROJECT}_db;' | mysql -h $MYSQL_HOST -u $MYSQL_USER --password=$MYSQL_PASS;"
    #- ssh -o StrictHostKeyChecking=no ubuntu@${URL_SERVER} "mysql -h $MYSQL_HOST -u $MYSQL_USER --password=$MYSQL_PASS devportal_${SUBDOMAIN_PROJECT}_db < sql/strapi-bk.sql"
    #- ssh -o StrictHostKeyChecking=no ubuntu@${URL_SERVER} "if [ "`mysql -h ${MYSQL_HOST} -u ${MYSQL_USER} --password=${MYSQL_PASS} -se'USE devportal_${SUBDOMAIN_PROJECT}_db;' 2>&1`" == "" ]; then mysql -h ${MYSQL_HOST} -u ${MYSQL_USER} --password=${MYSQL_PASS}; fi;"
    #- ssh -o StrictHostKeyChecking=no ubuntu@${URL_SERVER} "if [ '`mysql -h ${MYSQL_HOST} -u ${MYSQL_USER} --password=${MYSQL_PASS} -se'USE devportal_${SUBDOMAIN_PROJECT}_db;' 2>&1`' == '' ]; then mysql -h ${MYSQL_HOST} -u ${MYSQL_USER} --password=${MYSQL_PASS} -se'CREATE DATABASE IF NOT EXISTS devportal_${SUBDOMAIN_PROJECT}_db;'; mysql -h ${MYSQL_HOST} -u ${MYSQL_USER} --password=${MYSQL_PASS} devportal_${SUBDOMAIN_PROJECT}_db < sql/strapi-bk.sql; fi;"



.template:build: &docker-build
  before_script:
    - docker login -u gitlab-ci-token -p $CI_BUILD_TOKEN registry.gitlab.com
  script:
    - echo version:$CI_TAG
    - docker build
      --build-arg BUILDKIT_INLINE_CACHE=1
      --cache-from "${DOCKER_IMAGE_PATH}:$TAG"
      -t "${DOCKER_IMAGE_PATH}:$CI_TAG" -t "${DOCKER_IMAGE_PATH}:$TAG" .
    - docker push $DOCKER_IMAGE_PATH:$TAG
    - docker push $DOCKER_IMAGE_PATH:$CI_TAG

.template:deploy: &ssh-deploy
  script:
    - apk add openssh-client
    - apk add gettext
    - eval $(ssh-agent -s)
    - echo "$PRIVATE_RSA_KEY_PROD" | tr -d '\r' | ssh-add -
    - mkdir -p ~/.ssh
    - chmod 700 ~/.ssh
    - sed -i "s/DATABASE_GENERATED/devportal_${SUBDOMAIN_PROJECT}_db/g" docker-compose-template.yaml
    - envsubst < docker-compose-template.yaml > docker-compose.yaml
    - ssh -o StrictHostKeyChecking=no ubuntu@52.49.95.19 "cd $REMOTE_PATH; mkdir -p ${SUBDOMAIN_PROJECT}"
    - scp -o StrictHostKeyChecking=no docker-compose.yaml ubuntu@52.49.95.19:$REMOTE_PATH/${SUBDOMAIN_PROJECT}/
    - ssh -o StrictHostKeyChecking=no ubuntu@52.49.95.19 "cd $REMOTE_PATH/${SUBDOMAIN_PROJECT} && docker login -u gitlab-ci-token -p $CI_BUILD_TOKEN registry.gitlab.com && docker-compose down && docker-compose up -d "

docker:build:
  stage: build
  variables:
    TAG: $CI_COMMIT_REF_NAME
    CI_TAG: $CI_COMMIT_SHA

  rules:
    - if: $CI_COMMIT_REF_NAME == "test2"
  <<: *docker-build
  environment:
    name: $CI_COMMIT_REF_NAME

nginx:deploy:
  stage: deploy-nginx
  variables:
    REMOTE_PATH: /var/www/aplicacion/devportal-generated
  rules:
    - if: $CI_COMMIT_REF_NAME == "test2"
  <<: *ssh-deploy
  environment:
    name: $CI_COMMIT_REF_NAME

docker:deploy:
  stage: deploy
  rules:
    - if: $CI_COMMIT_REF_NAME == "test"
  script:
    - apk add openssh-client
    - eval $(ssh-agent -s)
    - echo "$PRIVATE_RSA_KEY_PROD" | tr -d '\r' | ssh-add -
    - mkdir -p ~/.ssh
    - chmod 700 ~/.ssh
    - cat nginx-config | 
        sed -e "s|hostTarget|${SUBDOMAIN_PROJECT}-cms.${DOMAIN_PROJECT}|g;" |
        sed -e "s|portTarget|${PORT}|g;" > ${SUBDOMAIN_PROJECT}-cms.${DOMAIN_PROJECT}
    - scp -o StrictHostKeyChecking=no ${SUBDOMAIN_PROJECT}-cms.${DOMAIN_PROJECT} ubuntu@52.49.95.19:$REMOTE_PATH_NGINX/
    - ssh -o StrictHostKeyChecking=no ubuntu@52.49.95.19 "sudo su -; mv $REMOTE_PATH_NGINX/${SUBDOMAIN_PROJECT}-cms.${DOMAIN_PROJECT} /etc/nginx/sites-enabled/; nginx -s reload"