image: docker:latest
services:
  - docker:dind

stages:
  - build
  - deploy
  - deploy-mysql


variables:
  REMOTE_PATH_SQL: "/home/ubuntu/sql"

mysql:deploy:
  stage: deploy-mysql
  script:
    - apk add openssh-client
    - eval $(ssh-agent -s)
    - echo "$PRIVATE_RSA_KEY_PROD" | tr -d '\r' | ssh-add -
    - mkdir -p ~/.ssh
    - chmod 700 ~/.ssh
    - scp -o StrictHostKeyChecking=no sql/strapi-bk.sql ubuntu@${URL_SERVER}:${REMOTE_PATH_SQL}/
    - ssh -o StrictHostKeyChecking=no ubuntu@${URL_SERVER} "echo 'CREATE DATABASE IF NOT EXISTS devportal_${SUBDOMAIN_PROJECT}_db;' | mysql -h ${DATABASE_HOST} -u ${DATABASE_USERNAME} -p"${DATABASE_PASSWORD}"; "

    #- mysql --version
    #- echo "CREATE DATABASE IF NOT EXISTS devportal_${SUBDOMAIN_PROJECT}_db;" | mysql -h ${DATABASE_HOST} -u ${DATABASE_USERNAME} -p"'${DATABASE_PASSWORD}'"
    #- mysql -h mysqlpre.cjfsrxm5ousg.eu-west-1.rds.amazonaws.com -u cloudappi -p"[~.QUWa2tx26sRZA" devportal_${SUBDOMAIN_PROJECT}_db < sql/strapi-bk.sql
    #- if [ "`mysql -h ${DATABASE_HOST} -u ${DATABASE_USERNAME} -p"'${DATABASE_PASSWORD}'" -se'USE devportal_${SUBDOMAIN_PROJECT}_db;' 2>&1`" == "" ]; then mysql -h ${DATABASE_HOST} -u ${DATABASE_USERNAME} -p"'${DATABASE_PASSWORD}'" devportal_${SUBDOMAIN_PROJECT}_db < sql/strapi-bk.sql; fi;
