image: docker:latest
services:
  - docker:dind

stages:
  - build
  - deploy
  - deploy-mysql

mysql:deploy:
  stage: deploy-mysql
  image: mysql:5.7
  script:
    - service mysql start
    - mysql --version
