image: docker:latest
services:
  - docker:dind

stages:
  - deploy-bucket
  - deploy-psql
  - deploy-ovh-psql
  - build
  - deploy
  - deploy-ovh
  - deploy-nginx
  - deploy-cloudfare

variables:
  REMOTE_PATH_SQL: "/home/ubuntu/sql"
  DOCKER_IMAGE_PATH: "$CI_REGISTRY_IMAGE"
  REMOTE_PATH_NGINX: "/home/ubuntu/nginxSites"
  CLOUDFARE_HEADERMAIL: 'X-Auth-Email: '
  CLOUDFARE_HEADERKEY: 'X-Auth-Key: '
  CLOUDFARE_APPLICATION: 'Content-Type: application/json'

bucket:deploy:
  stage: deploy-bucket
  image: registry.gitlab.com/gitlab-org/cloud-deploy/aws-base:latest
  script:
   - echo "${AWS_BUCKET}"
   - NAME_DNS=$(echo "${AWS_BUCKET}")
   - echo "$NAME_DNS"
   - >  
        if [[ ! -z $(aws s3api list-buckets --query 'Buckets[?Name==`'${NAME_DNS}'`]' --output text) ]]; then 
          echo "Bucket already exists"
        else 
          aws s3 mb s3://${NAME_DNS} --region eu-west-1;
          aws s3 cp init/ s3://${NAME_DNS} --recursive --region eu-west-1;
          aws s3 website s3://${NAME_DNS} --index-document index.html --error-document index.html --region eu-west-1;
          aws s3api put-public-access-block --bucket ${NAME_DNS} --public-access-block-configuration  BlockPublicAcls=false,IgnorePublicAcls=false,BlockPublicPolicy=false,RestrictPublicBuckets=false
          sed -i "s|NOMBRE-BUCKET|${NAME_DNS}|g;" policy-s3.json;
          aws s3api put-bucket-policy --bucket ${NAME_DNS} --policy file://policy-s3.json --region eu-west-1;
        fi;
  only:
    refs:
      - develop
      - main

psql:deploy:
  stage: deploy-psql
  script:
    - apk add openssh-client
    - eval $(ssh-agent -s)
    - echo "$PRIVATE_RSA_KEY_PROD" | tr -d '\r' | ssh-add -
    - mkdir -p ~/.ssh
    - chmod 700 ~/.ssh
    - DATABASE_NAME_VALUE=$(echo devportal_${SUBDOMAIN_PROJECT}_db | sed -e "s|-|_|g;")
    - echo "$DATABASE_NAME_VALUE"
    - scp -o StrictHostKeyChecking=no sql/psql_devportal.sql ubuntu@${URL_SERVER}:${REMOTE_PATH_SQL}/
    - ssh -o StrictHostKeyChecking=no ubuntu@${URL_SERVER} "psql -c 'create database $DATABASE_NAME_VALUE' postgresql://${DATABASE_USERNAME}:${DATABASE_PASSWORD}@${DATABASE_HOST}:${DATABASE_PORT}/defaultdb"
    - ssh -o StrictHostKeyChecking=no ubuntu@${URL_SERVER} "psql postgresql://${DATABASE_USERNAME}:${DATABASE_PASSWORD}@${DATABASE_HOST}:${DATABASE_PORT}/${DATABASE_NAME_VALUE} < sql/psql_devportal.sql"
  environment:
    name: $CI_COMMIT_REF_NAME
  only:
    refs:
      - develop

psql-ovh:deploy:
  stage: deploy-ovh-psql
  script:
    - apk add postgresql-client
    - DATABASE_NAME_VALUE=$(echo devportal_${SUBDOMAIN_PROJECT}_db | sed -e "s|-|_|g;")
    - echo "$DATABASE_NAME_VALUE"
    - psql -c "create database $DATABASE_NAME_VALUE" postgresql://${OVH_USER_DB_ADMIN}:${OVH_PASSWORD_DB_ADMIN}@${DATABASE_HOST}:${DATABASE_PORT}/defaultdb?sslmode=require
    - psql postgresql://${OVH_USER_DB_ADMIN}:${OVH_PASSWORD_DB_ADMIN}@${DATABASE_HOST}:${DATABASE_PORT}/${DATABASE_NAME_VALUE}?sslmode=require < sql/psql_devportal.sql  
  environment:
    name: $CI_COMMIT_REF_NAME
  only:
    refs:
      - main

docker:build:
  stage: build
  variables:
    TAG: $CI_COMMIT_REF_NAME
    CI_TAG: $CI_COMMIT_SHORT_SHA
  before_script:
    - docker login -u cloudappi -p $REGISTRY_PASSWORD registry.gitlab.com
  script:
    - echo version:$CI_TAG
    - docker build
      --build-arg BUILDKIT_INLINE_CACHE=1
      --cache-from "${DOCKER_IMAGE_PATH}:$TAG"
      -t "${DOCKER_IMAGE_PATH}:$CI_TAG" -t "${DOCKER_IMAGE_PATH}:$TAG" .
    - docker push $DOCKER_IMAGE_PATH:$TAG
    - docker push $DOCKER_IMAGE_PATH:$CI_TAG
  only:
    refs:
      - develop
      - main

docker:deploy:
  stage: deploy
  variables:
    REMOTE_PATH: /var/www/aplicacion/devportal-generated
  script:
      - apk add openssh-client
      - apk add gettext
      - eval $(ssh-agent -s)
      - echo "$PRIVATE_RSA_KEY_PROD" | tr -d '\r' | ssh-add -
      - mkdir -p ~/.ssh
      - chmod 700 ~/.ssh
      - DATABASE_NAME_VALUE=$(echo devportal_${SUBDOMAIN_PROJECT}_db | sed -e "s|-|_|g;")
      - CONTAINER_NAME_TEMP=$(echo ${SUBDOMAIN_PROJECT}_${DOMAIN_PROJECT} | sed -e "s/[.]/_/g")
      - CONTAINER_NAME=$(echo ${CONTAINER_NAME_TEMP} | sed -e "s|-|_|g;")
      - echo "$DATABASE_NAME_VALUE"
      - sed -i "s/DATABASE_GENERATED/$DATABASE_NAME_VALUE/g" docker-compose-template.yaml
      - sed -i "s/latest/$CONTAINER_NAME/g" docker-compose-template.yaml
      - envsubst < docker-compose-template.yaml > docker-compose.yaml
      - ssh -o StrictHostKeyChecking=no ubuntu@${URL_SERVER} "cd $REMOTE_PATH; mkdir -p ${SUBDOMAIN_PROJECT}"
      - scp -o StrictHostKeyChecking=no docker-compose.yaml ubuntu@${URL_SERVER}:$REMOTE_PATH/${SUBDOMAIN_PROJECT}/
      - ssh -o StrictHostKeyChecking=no ubuntu@${URL_SERVER} "cd $REMOTE_PATH/${SUBDOMAIN_PROJECT} && docker login -u cloudappi -p $REGISTRY_PASSWORD registry.gitlab.com && docker-compose down && docker-compose up -d "
  environment:
    name: $CI_COMMIT_REF_NAME
  only:
    refs:
      - develop

ovh:deploy:
  stage: deploy-ovh
  variables:
    CI_TAG:  $CI_COMMIT_SHORT_SHA
    HOST: "$SUBDOMAIN_PROJECT.$DOMAIN_PROJECT"
    APP_NAME: ${SUBDOMAIN_PROJECT}
  before_script:
    - apk add --update ca-certificates bash gnupg jq  && apk add --update -t deps curl gettext &&  rm -rf /var/cache/apk/*
    - curl -L https://storage.googleapis.com/kubernetes-release/release/v1.23.0/bin/linux/amd64/kubectl -o /usr/local/bin/kubectl && chmod +x /usr/local/bin/kubectl
  script: 
    - mkdir ~/.kube/
    - echo "$OVH_CONFIG" | tr -d '\r' > ~/.kube/config
    - export KUBECONFIG=~/.kube/config
    - kubectl version
    - DATABASE_NAME_VALUE=$(echo devportal_${SUBDOMAIN_PROJECT}_db | sed -e "s|-|_|g;") 
    - sed -i "s|IMAGE_GITLAB|${DOCKER_IMAGE_PATH}:$CI_TAG|g;" kubernetes/manifest/deployment.yaml;  
    - sed -i "s|DATABASE_GENERATED|${DATABASE_NAME_VALUE}|g;" kubernetes/secret/secret.yaml;  
    - envsubst < kubernetes/secret/secret.yaml > kubernetes/secret/secret.yaml.tmp
    - mv kubernetes/secret/secret.yaml.tmp kubernetes/secret/secret.yaml
    - kubectl apply -f kubernetes/secret/ -n developer-portal
    - >
        for file in $(ls kubernetes/manifest)
          do
            envsubst < kubernetes/manifest/$file > kubernetes/manifest/$file.tmp
            mv kubernetes/manifest/$file.tmp  kubernetes/manifest/$file
          done
          ls kubernetes
    - kubectl apply -f kubernetes/manifest/ -n developer-portal
  environment:
    name: $CI_COMMIT_REF_NAME
  only:
    refs:
      - main

nginx:deploy:
  stage: deploy-nginx
  variables:
    NAME_DNS: "$SUBDOMAIN_PROJECT.$DOMAIN_PROJECT"
  script:
    - apk add openssh-client
    - eval $(ssh-agent -s)
    - echo "$PRIVATE_RSA_KEY_PROD" | tr -d '\r' | ssh-add -
    - mkdir -p ~/.ssh
    - chmod 700 ~/.ssh
    - cat nginx-config | 
        sed -e "s|hostTarget|${SUBDOMAIN_PROJECT}.${DOMAIN_PROJECT}|g;" |
        sed -e "s|portTarget|${PORT}|g;" > ${SUBDOMAIN_PROJECT}.${DOMAIN_PROJECT}
    - scp -o StrictHostKeyChecking=no ${SUBDOMAIN_PROJECT}.${DOMAIN_PROJECT} ubuntu@${URL_SERVER}:$REMOTE_PATH_NGINX/
    - ssh -o StrictHostKeyChecking=no ubuntu@${URL_SERVER} "sudo mv $REMOTE_PATH_NGINX/${SUBDOMAIN_PROJECT}.${DOMAIN_PROJECT} /etc/nginx/sites-enabled/; sudo nginx -s reload"
  environment:
    name: $CI_COMMIT_REF_NAME
  only:
    refs:
      - develop

cloudfare:deploy:
  stage: deploy-cloudfare
  variables:
    URL_CMS: "$URL_SERVER"
    NAME_DNS: "$SUBDOMAIN_PROJECT.$DOMAIN_PROJECT"
  before_script:
    - apk add --update curl && rm -rf /var/cache/apk/*
    - apk add --no-cache curl jq
  script:
    - echo "${CLOUDFARE_HEADERKEY} ${CLOUDFARE_APIKEY}"
    - echo "${CLOUDFARE_HEADERMAIL} ${CLOUDFARE_EMAIL}"
    - echo "${URL_S3}"
    - curl -X GET ${CLOUDFARE_BASEAPI}/${CLOUDFARE_ZONE}/dns_records  --header "${CLOUDFARE_HEADERMAIL} ${CLOUDFARE_EMAIL}" --header "${CLOUDFARE_HEADERKEY} ${CLOUDFARE_APIKEY}" --header "${CLOUDFARE_APPLICATION}" >> response_dns_list.json
    - DNS_VALUE=$(cat response_dns_list.json | jq -r '.result[] | select( .name=="'${NAME_DNS}'") | .name')
    - echo "$DNS_VALUE"
    - >
        if [ "${DNS_VALUE}" == "" ]; then
          curl -X POST ${CLOUDFARE_BASEAPI}/${CLOUDFARE_ZONE}/dns_records --header "${CLOUDFARE_HEADERMAIL} ${CLOUDFARE_EMAIL}" --header "${CLOUDFARE_HEADERKEY} ${CLOUDFARE_APIKEY}" --header "${CLOUDFARE_APPLICATION}" --data-raw '{"type":"A","name":"'${NAME_DNS}'","content":"'${URL_CMS}'","ttl":3600,"proxied":true}';
        else 
          echo "DNS already exists";
        fi;
  environment:
    name: $CI_COMMIT_REF_NAME
  only:
    refs:
      - develop
      - main


