image: docker:latest
services:
  - docker:dind

stages:
  - build
  - deploy
  - deploy-mysql

mysql:deploy:
  stage: deploy-mysql
  image: ubuntu:20.04
  services:
    - mysql:5.7
  script:
    - apt-get update && apt-get install -y git curl libmcrypt-dev default-mysql-client
    - mysql --version
