image: docker:latest
services:
  - docker:dind

stages:
  - build
  - deploy

variables:
  DOCKER_IMAGE_PATH: "$CI_REGISTRY_IMAGE"

.template:build: &docker-build
  before_script:
    # Log in to GitLab Container Registry
    - docker login -u gitlab-ci-token -p $CI_BUILD_TOKEN registry.gitlab.com
  script:
    - echo version:$CI_TAG
    - docker build
      --build-arg BUILDKIT_INLINE_CACHE=1
      --cache-from "${DOCKER_IMAGE_PATH}:$TAG"
      -t "${DOCKER_IMAGE_PATH}:$CI_TAG" -t "${DOCKER_IMAGE_PATH}:$TAG" .
    - docker push $DOCKER_IMAGE_PATH:$TAG
    - docker push $DOCKER_IMAGE_PATH:$CI_TAG

.template:deploy: &ssh-deploy
  script:
    - mkdir -p ~/.ssh
    - echo -e "Host *\n\tStrictHostKeyChecking no\n\n" > ~/.ssh/config
    - echo "$PRIVATE_RSA_KEY" | tr -d '\r' > ssh-auth
    - chmod 600 ssh-auth
    - sed -i "s|_VERSION|$CI_COMMIT_SHA|g;" docker-compose.yaml
    - scp -i ssh-auth docker-compose.yaml $SSH_LOGIN:$REMOTE_PATH/docker-compose.yaml
    - ssh -i ssh-auth $SSH_LOGIN "cd $REMOTE_PATH && docker login -u gitlab-ci-token -p $CI_BUILD_TOKEN registry.gitlab.com && docker-compose down && docker-compose up -d "

docker:build:
  stage: build
  variables:
    TAG: $CI_COMMIT_REF_NAME
    CI_TAG: $CI_COMMIT_SHA

  rules:
    - if: $CI_COMMIT_TAG =~ /^v[0-9]+(\.[0-9]+)+(\.[0-9]+)$/
      variables:
        TAG: latest
        CI_TAG: $CI_COMMIT_TAG
    - if: $CI_COMMIT_REF_NAME == "develop"
    - if: $CI_COMMIT_REF_NAME == "pre"
  <<: *docker-build
  environment:
    name: $CI_COMMIT_REF_NAME

docker:deploy:
  stage: deploy
  variables:
    SSH_LOGIN: ubuntu@$PRE_UBUNTU
    SSH_KEY: $PRIVATE_RSA_KEY
  rules:
    - if: $CI_COMMIT_REF_NAME == "develop"
      variables:
        REMOTE_PATH: /var/www/aplicacion/devportal-sura-back/dev
    - if: $CI_COMMIT_REF_NAME == "pre"
      variables:
        REMOTE_PATH: /var/www/aplicacion/devportal-sura-back/pre
  <<: *ssh-deploy
  environment:
    name: $CI_COMMIT_REF_NAME
# ecs:deploy:prod:
#   stage: deploy
#   variables:
#     CLUSTER_NAME: ecs-devportal-production-01
#     SERVICE_NAME: ecs-back-service-production-01
#     TASK_DEFINITION_NAME: ecs-task-definition-back-production-01

#   image: registry.gitlab.com/gitlab-org/cloud-deploy/aws-base:latest
#   script:
#     - TASK_DEFINITION=$(aws ecs describe-task-definition --task-definition "$TASK_DEFINITION_NAME" --region "${AWS_DEFAULT_REGION}")
#     - REVISION=$(echo $TASK_DEFINITION | jq '.taskDefinition.revision')
#     - NEW_TASK_DEFINTIION=$(echo $TASK_DEFINITION |
#       jq --arg IMAGE "$DOCKER_IMAGE_PATH:$CI_COMMIT_TAG" '.taskDefinition |
#       .containerDefinitions[0].image = $IMAGE |
#       del(.taskDefinitionArn) | del(.revision) | del(.status) | del(.requiresAttributes) | del(.compatibilities) | del(.registeredAt) | del(.registeredBy)')
#     - aws ecs register-task-definition --region "$AWS_DEFAULT_REGION" --cli-input-json "$NEW_TASK_DEFINTIION"
#     - aws ecs update-service --region "${AWS_DEFAULT_REGION}" --cluster "${CLUSTER_NAME}" --service "${SERVICE_NAME}"  --task-definition "${TASK_DEFINITION_NAME}"
#     - aws ecs deregister-task-definition --task-definition $TASK_DEFINITION_NAME:$REVISION
#   only:
#     refs:
#       - /^v[0-9]+(\.[0-9]+)+(\.[0-9]+)$/
