trigger:
  branches:
    include:
      - develop
      # - main
      # - pre

pool:
  name: Azure Pipelines
  vmImage: ubuntu-20.04

variables:
  AZNAME: devportal-back
  AZPORT: 1337
  azImage: $(AZNAME):$(Build.SourceVersion)
  dockerRegistryConnection: AzRegistryContainerDev
    openshiftServiceConnection: ARO-Pro
  ${{ if eq(variables['Build.SourceBranchName'], 'pre')}}:
    environment: pre
    openshiftServiceConnection: ARO-Pre
  ${{ if eq(variables['Build.SourceBranchName'], 'develop')}}:
    environment: dev
    openshiftServiceConnection: ARO-Dev
stages:
  - stage: Build
    jobs:
      - job: Build
        steps:
          - task: Docker@2
            displayName: Login to ACR
            inputs:
              command: login
              containerRegistry: $(dockerRegistryConnection)
          - task: Docker@2
            displayName: Build and Push
            inputs:
              command: buildAndPush
              repository: $(AZNAME)
              Dockerfile: Dockerfile
              buildContext: .
              tags: |
                $(Build.SourceBranchName)
                $(Build.SourceVersion)
  - stage: Deploy
    jobs:
      - deployment: Deploy
        variables:
          - group: backend-variables-${{ variables.environment }}
            #ENVIRONMENT: 'Development'
        displayName: "Deploy to ${{ variables.environment }}"
        environment: ${{ variables.environment }}
        strategy:
          runOnce:
            deploy:
              steps:
                - checkout: self
                  submodules: true
                - script: |
                    for file in $(ls openshift)
                    do
                      envsubst < openshift/$file | tee openshift/$file
                    done
                  displayName: Replace variables in manifests

                # Install oc so that it can be used within a 'script' or bash 'task'
                - task: oc-setup@2
                  displayName: Setup oc
                  inputs:
                    openshiftService: $(openshiftServiceConnection)
                # A script task making use of 'oc'
                - script: |
                    oc apply -f openshift/ -n api-cloud-dev
                  displayName: Apply deployment
                # Single shot 'oc' command
                - task: oc-cmd@2
                  displayName: Wait for deployment
                  inputs:
                    openshiftService: $(openshiftServiceConnection)
                    cmd: "rollout status -w deployment/$(AZNAME)"
