version: '3'
services:
  strapi:
    image: registry.gitlab.com/cloudappi/sura/dev-portal-sura-backend:_VERSION #strapi/strapi
    environment:
      DATABASE_CLIENT: ${DATABASE_CLIENT}
      DATABASE_HOST: ${DATABASE_HOST}
      DATABASE_PORT: ${DATABASE_PORT}
      DATABASE_NAME: ${DATABASE_NAME}
      DATABASE_USERNAME: ${DATABASE_USERNAME}
      DATABASE_PASSWORD: ${DATABASE_PASSWORD}
      DATABASE_SSL: ${DATABASE_SSL}
      STORAGE_ACCOUNT: ${STORAGE_ACCOUNT}
      STORAGE_ACCOUNT_KEY: ${STORAGE_ACCOUNT_KEY}
      STORAGE_URL: ${STORAGE_URL}
      STORAGE_CONTAINER_NAME: ${STORAGE_CONTAINER_NAME}
    volumes:
      - ./app:/srv/app
    ports:
      - $PORT:1337
